<form>
    <label> email </label>
    <input type="email" placeholder="" />

    <label> nombre </label>
    <input type="text" placeholder="" />

    <textarea placeholder="Ingresa tu mensaje"></textarea>

    <button type="submit"> Enviar </button>
</form>